{% extends 'base.html' %}
{% load static widget_tweaks humanize %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Дилеры</h3>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dealer_list_view' %}">Список дилеров</a></li>
                  </ol>
                </div>
                <div class="col-md-6 project-list">
                      <div class="form-group mb-0 me-0"></div>
                        <button class="btn btn-primary" type="button"
                        data-bs-toggle="modal" data-bs-target="#plan_create_modal">
                            <i data-feather="plus-square"> </i>
                            Создать нового дилера
                        </button>
                    </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
                    <div class="row">
                          <div class="col-sm-12">
                            <div class="card">
                              <div class="card-body">
                                {% if dealers %}
                                <div class="table-responsive">
                                  <table class="show-case">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        {% for f in dealer_form %}
                                            <th>{{ f.label }}</th>
                                        {% endfor %}
                                        <th>Действия</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for dealer in dealers %}
                                          <tr>
                                            <td>{{ dealer.id }}</td>
                                            <td>{{ dealer.name }}</td>
                                            <td>{{ dealer.address }}</td>
                                            <td>{{ dealer.phone }}</td>
                                            <td>{{ dealer.city }}</td>
                                            <td class="p-0 m-0 d-flex justify-content-center height-100 p-2">
                                                <button class="btn-sm btn-danger plan_item_item_pre_delete_btn"
                                                type="button" data-bs-toggle="modal" data-id="{{ dealer.id }}"
                                                data-bs-target="#plan_item_item_delete_modal" style="font-size: 11px !important;">
                                                  <i class="fa fa-trash"></i>
                                                </button>
                                                <form class="d-none"
                                                action="{% url 'dealer_delete_view' dealer.id %}"
                                                method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" value="DELETE"
                                                    class="d-none plan_item_item_form_delete_btn_{{ dealer.id }}">
                                                </form>
                                                <a class="btn-sm btn-primary ms-2"
                                                href="{% url 'dealer_update_view' dealer.id %}"
                                                style="font-size: 11px !important;">
                                                  <i class="icofont icofont-pencil-alt-5"></i>
                                                </a>
                                              </td>
                                          </tr>
                                          {% empty %}
                                        {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                                    <div class="my-3 float-end">
                                        <nav aria-label="Page navigation example">
                                          <ul class="pagination pagination-primary">
                                          {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">
                                                        « Предыдущий
                                                    </span>
                                                    <span class="sr-only">
                                                        Previous
                                                    </span>
                                                </a>
                                            </li>
                                           {% endif %}
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">
                                                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                                                </a>
                                            </li>
                                            {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            Следующий »
                                                        </span>
                                                        <span class="sr-only">
                                                            Next
                                                        </span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                          </ul>
                                        </nav>
                                    </div>
                                    {% else %}
                                        <div class="text-center">Пустой</div>
                                {% endif %}

                              </div>
                            </div>
                          </div>
                    </div>
          </div>
        </div>
          <!-- Container-fluid Ends-->

            <div class="modal fade" id="plan_item_item_delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Удаление дилера</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div class="mb-3">
                        <p class="text-danger">Вы уверены, что хотите удалить это ?</p>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Отмена</button>
                    <button class="btn btn-danger plan_item_item_confirm_delete_btn" type="button">Удалить</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade"
            id="plan_create_modal" tabindex="-1" role="dialog"
            aria-labelledby="plan_create_modal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Создание дилера</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="plan_create_form"
                    action="{% url 'dealer_create_view' %}" method="POST">
                        {% csrf_token %}
                      <div class="mb-3">
                        {% for f in dealer_form %}
                            <label class="col-form-label" for="recipient-name">{{ f.label_tag }}</label>
                            {{ f|add_class:'form-control' }}
                        {% endfor %}
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Закрыть</button>
                    <button form="plan_create_form" class="btn btn-primary" type="submit">Создать</button>
                  </div>
                </div>
              </div>
            </div>

{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            let object_id = 0;
            $('.object_pre_delete_btn').click(function(){
                object_id = $(this).attr('data-id');
            })
            $('.object_delete_confirm_btn').click(function(){
                $(`.object_delete_form_${object_id}`).click()
            })

            let plan_item_item_id = 0
            $('.plan_item_item_pre_delete_btn').click(function(){
                plan_item_item_id = $(this).attr('data-id')
            })
            $('.plan_item_item_confirm_delete_btn').click(function(){
                $(`.plan_item_item_form_delete_btn_${plan_item_item_id}`).click()
            })

            $('.dataTables_length').addClass('d-none')
            $('.dataTables_filter').addClass('d-none')
            $('.dataTables_info').addClass('d-none')
            $('.dataTables_paginate').addClass('d-none')
            $('.dataTables_empty').addClass('d-none')
        })
    </script>
{% endblock extra_js %}