{% extends 'base.html' %}
{% load static widget_tweaks humanize %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Контакты</h3>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dealer_list_view' %}">Список контактов</a></li>
                  </ol>
                </div>
                {% if not contact %}
                    <div class="col-md-6 project-list">
                          <div class="form-group mb-0 me-0"></div>
                            <button class="btn btn-primary" type="button"
                            data-bs-toggle="modal" data-bs-target="#plan_create_modal">
                                <i data-feather="plus-square"> </i>
                                Создать новый контакт
                            </button>
                        </div>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
                    <div class="row">
                          <div class="col-sm-12">
                            <div class="card">
                              <div class="card-body">
                                {% if contact %}
                                <div class="table-responsive">
                                  <table class="show-case">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        {% for f in contact_form %}
                                            <th>{{ f.label }}</th>
                                        {% endfor %}
                                        <th>Действия</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for contact_one in contact %}
                                          <tr>
                                            <td>{{ contact_one.id }}</td>
                                            <td>{{ contact_one.address }}</td>
                                            <td>{{ contact_one.phone }}</td>
                                            <td>{{ contact_one.site }}</td>
                                            <td class="p-0 m-0 d-flex justify-content-center height-100 p-2">
                                                <a class="btn-sm btn-primary ms-2"
                                                href="{% url 'contact_update_view' contact_one.id %}"
                                                style="font-size: 11px !important;">
                                                  <i class="icofont icofont-pencil-alt-5"></i>
                                                </a>
                                              </td>
                                          </tr>
                                          {% empty %}
                                        {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                                    {% else %}
                                        <div class="text-center">Пустой</div>
                                {% endif %}

                              </div>
                            </div>
                          </div>
                    </div>
          </div>
        </div>
          <!-- Container-fluid Ends-->

            <div class="modal fade"
            id="plan_create_modal" tabindex="-1" role="dialog"
            aria-labelledby="plan_create_modal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Создание контакта</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="plan_create_form"
                    action="{% url 'contact_create_view' %}" method="POST">
                        {% csrf_token %}
                      <div class="mb-3">
                        {% for f in contact_form %}
                            <label class="col-form-label" for="recipient-name">{{ f.label_tag }}</label>
                            {{ f|add_class:'form-control' }}
                        {% endfor %}
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Закрыть</button>
                    <button form="plan_create_form" class="btn btn-primary" type="submit">Создать</button>
                  </div>
                </div>
              </div>
            </div>

{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            let object_id = 0;
            $('.object_pre_delete_btn').click(function(){
                object_id = $(this).attr('data-id');
            })
            $('.object_delete_confirm_btn').click(function(){
                $(`.object_delete_form_${object_id}`).click()
            })

            let plan_item_item_id = 0
            $('.plan_item_item_pre_delete_btn').click(function(){
                plan_item_item_id = $(this).attr('data-id')
            })
            $('.plan_item_item_confirm_delete_btn').click(function(){
                $(`.plan_item_item_form_delete_btn_${plan_item_item_id}`).click()
            })

            $('.dataTables_length').addClass('d-none')
            $('.dataTables_filter').addClass('d-none')
            $('.dataTables_info').addClass('d-none')
            $('.dataTables_paginate').addClass('d-none')
            $('.dataTables_empty').addClass('d-none')
        })
    </script>
{% endblock extra_js %}